@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

@import "~bootstrap/scss/breadcrumb";
$table-striped-bg-factor: 0.03;
$table-striped-bg: rgba($black, $table-striped-bg-factor);
$table-striped-order: even;
@import "~bootstrap/scss/tables";


@import "../vars";


.breadcrumb {
    margin: 15px 0px;
    &--centrado {
      justify-content: center;
    }
    &--tamano {
      font-size: 10px;
    }
    &--links {
      color: $black;
    }
    &--nonedecoration {
      text-decoration: none;
      color: $black;
    }
  }



.informacionprecio {
    &__img {
      width: 100%;
      &--w20 {
        width: 20px;
      }
      &--filter {
        filter: opacity(0.6);
      }
    }
    &__preciodetalle {
      background: rgba($color: $gray, $alpha: 0.1);
      height: 100%;
      width: 100%;
      padding: 15px;
    }
    &__info {
      &--title {
        font-weight: bold;
        font-size: 30px;
        padding: 20px 0px;
      }
      &--gray {
        opacity: 0.5;
      }
  
      &--tamano {
        font-size: 15px;
      }
  
      &--nounderline {
        text-decoration: none;
        color: $gray;
      }
    }
  
    &__precio {
      font-size: 45px;
      font-weight: bold;
      color: $black;
    }
    &__iva {
      font-size: 14px;
    }
  
    &__envio {
      padding-bottom: 20px;
      font-size: 12px;
      font-weight: bold;
      color: $gray;
    }
  
    &__extra {
      font-size: 15px;
      color: $gray;
      font-weight: 500;
      &--green {
        color: $greenblack;
        font-weight: bold;
      }
    }
  
    &__link {
      text-decoration: none;
      color: #666666;
      font-weight: bold;
      font-size: 15px;
      display: block;
    }
  
    &__desde {
      text-transform: capitalize;
      text-decoration: none;
      font-size: 14px;
      color: $purple;
      &:hover {
        color: $purple;
      }
    }
  
    &__ley {
      font-size: 9px;
      line-height: 16px;
      padding-right: 38px;
      position: relative;
      display: inline-block;
      &--close {
        overflow: hidden;
        text-overflow: ellipsis;
        height: 16px;
      }
    }
    &__showmore {
      position: absolute;
      
      right: 0px;
      &--close{
        top: 0;
      }
    }
    
  }




.navcaracteristica {
    margin-top: 75px;
  
    border: 1px solid $white;
  
    &--black {
      color: $black;
    }
  
    &__content {
      border: 1px solid $white;
      margin-bottom: 20px;
      font-size: 15px;
    }
    &__link {
      border: none;
      margin-right: 1px;
      padding: 5px 30px;
      text-transform: none;
      background-color: transparent;
      color: $black;
      font-weight: 700;
      font-size: 20px;
      border-bottom: 4px solid $gray;
      &:hover:not(.active) {
        color: $white;
        background-color: $blue-light;
      }
      &.active {
        border-color: $blue-light;
      }
      
    }
  
    &__item{
      width: 100%;
    }
    &__link {
      width: 100%;
    }
  
    &__title {
      font-size: 15px;
  
      &--blue {
        color: $blue;
      }
    }
  
    &__img {
      max-width: 100%;
      width: 70%;
    }
  
    &__linkPdf {
      text-decoration: none;
      color: $black;
      font-size: 20px;
    }
  }


.resenas {
    border: 1px solid rgba($color: $black, $alpha: 0.05);
    margin: 10px 0px;
    &__title {
      font-size: 25px;
      font-weight: 300;
      color: $black;
    }
  }



.formatpay{
  background-color: #f9f9f9;
  &__button{
    border-radius: 0px;
    border: 1px solid rgba($color: $black, $alpha: 0.05);
    position: relative;
    color: $black;
    background-color: #fff;
    padding: 10px 15px;
    &:hover:not(.active) {
      color: $blue-light;
      background-color: whitesmoke;
    }
    &.active {
      color: #fff;
      background-color: $blue-light;
      &::after{
        content: "";
        position: absolute;
        left: 100%;
        top: 50%;
        margin-top: -13px;
        border-bottom: 13px solid transparent;
        border-top: 13px solid transparent;
        border-left: 10px solid $lemon;
      }
    }
  }
  &__img{
    max-width: 100%;
    width: 20px;
  }

  &__title{
    font-weight: bold;
    color: $black;
  }
  &__content{
    font-size: 15px
  }
}


// TODO: Please split general styles from the specific ones in product.

//Media queries
@import "./small";
@import "./medium";
@import "./large";
@import "./xLarge";
