$white: #edece6;
$black: #000;
$blue: #001d6f;
$mild-blue: #00155f;
$dark_blue: #00093d;
$purple: #252ad4;
$gray: #8b8fa7;
$lemon: #96c800;
$green: rgb(86, 170, 93);
$greenblack: #147C15;
$blue-light: #63a7ff;
$lemon-black:#79A003 ;